<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "filepath" placeholder="post" required/> </br>
    <input type="radio" name="allFollowers" value=true></br>Share with all followers
	<input type="submit" value = "Post" />
</form>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are your photos:

<table>
	<th>Time</th>
	<th>Photos</th>

{% for line in photos %}
	<tr>
		<td>{{line.postingdate}}</td>
		<td>{{line.photos}}</td>
	</tr>
{% endfor %}
</table>

<a href="/follow">follow others</a>
<br>
<a href="/follow_request">follow request</a>
<br>
<a href="/friendgroup">new friend group</a>
<a href="/logout">Logout</a>

</body>


</html>
