<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href="/post">post new photos</a>
<br>
<a href="/follow">follow others</a>
<br>
<a href="/follow_request">follow request</a>
<br>
<a href="/friendgroup">new friend group</a>
<a href="/logout">Logout</a>
Here are your photos:

<table>
	<th>Time</th>
	<th>Photos</th>

{% for line in photos %}
	<tr>
		<td>{{line.postingdate}}</td>
		<td>{{line.photos}}</td>
	</tr>
{% endfor %}
</table>



</body>


</html>
